.hmti-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4%;
    justify-content: center;
    align-items: center;   
    width: 89.9%;
    background:#fff;
    padding-bottom: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #7a7a7a;
}

.hmti-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1.5rem, 2vw, 50px);
    margin-bottom: clamp(1.5rem, 2vw, 30px);

    gap: clamp(1rem, 1vw, 10px);

    color: #18694e;
    font-size: clamp(1.5rem, 2vw, 35px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.hmti-title img{
    width: clamp(10rem, 9vw, 235px);
}

.hmti-row {
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    width: 96%;
    gap: 30px;
}

.hmti-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    width: 55%;
}

.hmti-basic-info {
    display: flex; 
    flex-direction: column;

    align-items: center; 
    height: 100%; 
    width: 100%;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 0 20px 0;
    border: 2px solid #ccc; 
    border-radius: 10px;
    gap: 15px;
}

.hmti-basic-info input, select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #57b49538;
    color: #7a7a7adb;
    padding: 7px;
    font-size: 18px;
    font-weight: lighter;
}

.hmti-basic-info-1st-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 20px;
}

.hmti-b-i-1-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.hmti-b-i-1-row input {
    padding-left: 20px;
}

.hmti-basic-info-2nd-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.hmti-b-i-2-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hmti-b-i-2-row input {
    text-align: center;
}

.patientid input{
    width: 55px;
}

.age input{
    width: 35px;
}

.hmti-tests {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: 100%; 
    width: 44%;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 20px 0;
    border: 2px solid #ccc; 
    border-radius: 10px;
    gap: 15px;
}

.hmti-for-scrollbar {
    max-height: 265px;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

.hmti-for-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.hmti-for-scrollbar::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    border-radius: 5px;
}

.hmti-for-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
}

.hmti-checklist {
    display: flex; 
    flex-direction: column;

    align-items: center; 
    height: 100%; 
    width: 100%;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 0 20px 0;
    border: 2px solid #ccc; 
    border-radius: 10px;
    gap: 15px;
    margin-top: 30px;
}

.hmti-checklist-start {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin-top: -1%;
}

.hmti-checklist-left {
    display: flex;
    flex-direction: column;
    width: 62%;
    gap: 20px;
}

.hmti-checklist-right {
    display: flex;
    flex-direction: column;
    width: 62%;
    gap: 24px;
    margin-right: -3%;
}

.hmti-checklist-row-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hmti-c-r-buttons-1, .hmti-c-r-buttons-2 {
    padding: 0 5px;
}

.hmti-c-r-buttons-1 button {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background: none;
    cursor: pointer;
    border: 2px solid #868686;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #7a7a7a;

}

.hmti-c-r-buttons-2 button {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background:#18694e;
    cursor: pointer;
    border: 2px solid #18694e;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.hmti-c-r-buttons-1 button:hover, .hmti-c-r-buttons-2 button:hover {
    background: #d63939;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #868686; 

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.hmti-c-r-buttons-2 button:hover {
    background: white;
    color: #18694e;
}

.hmti-checklist-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.hmti-checklist-row input, select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #57b49538;
    color: #7a7a7adb;
    padding: 7px;
    font-size: 18px;
    font-weight: lighter;
}

.requested {
    margin-left: 10px;
}

.received {
    margin-left: 20px;
}

.specimen_number {
    margin-left: 40px;
}

.requested input, .received input {
    width: 80%;
}

.specimen_number input {
    width: 90%;
}


.hmti-checklist-title {
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.hmti-checklist img {
    margin-top: calc(-30px);
    margin-bottom: calc(-10px);
    height: 50px;
    width: 90%;
}

.hmti-test-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.hmti-test-input input[type="text"] {
    margin-left: 10px;
}

.hmti-tests-title {
    margin: 20px 0 20px 0;
    font-size: 30px;
    display: block;
}

.hmti-tests img {
    margin-top: calc(-30px);
    margin-bottom: calc(-10px);
    height: 50px;
    width: 90%;
    opacity: 30%;
}

.hmti-checklist img {
    opacity: 30%;
}

.test-section {
    margin-bottom: 10px;
    width: 630px;
  }
  
  .test-label {
    display: flex; /* or 'flex' if you want the checkbox inline */
    margin-bottom: 5px;
    font-size: 20px;
  }

  .test-label input {
    margin-right: 15px;
  }

  .testname {
    display: flex;
    background-color: #57b49541;
    padding: 5px 0 5px 15px;
    width: 320px;
    border-radius: 10px;
  }
  
  .test-parameters {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
  }
  
  .test-parameter {
    margin-bottom: 5px;
  }

  .test-parameter input {
    border: 2px solid #868686; 
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    height: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #7a7a7adb;
    padding: 7px;
    font-size: 18px;
    font-weight: lighter;
  }
  
  .parameter-label {
    display: block; /* Adjust as needed for your layout */
  }

