.hmti-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4%;
    justify-content: center;
    align-items: center;   
    width: 89.9%;
    background:#fff;
    padding-bottom: 30px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #7a7a7a;
}

.hmti-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1.5rem, 2vw, 50px);
    margin-bottom: clamp(1.5rem, 2vw, 30px);

    gap: clamp(1rem, 1vw, 10px);

    color: #18694e;
    font-size: clamp(1.5rem, 2vw, 35px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.hmti-title img{
    width: clamp(10rem, 9vw, 235px);
}

.hmti-row {
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    width: 96%;
    gap: 30px;
}

.hmti-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    width: 55%;
}

.hmti-basic-info {
    display: flex; 
    flex-direction: column;

    align-items: center; 
    height: 100%; 
    width: 100%;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 0 20px 0;
    border: 2px solid #ccc; 
    border-radius: 35px;
    gap: 15px;
}

.hmti-basic-info input, select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 25px;
    background-color: #edf5f3;
    color: #7a7a7adb;
    padding: 7px;
    font-size: 18px;
    font-weight: lighter;
}

.hmti-basic-info-1st-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 20px;
}

.hmti-b-i-1-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.hmti-b-i-1-row input {
    padding-left: 20px;
}

.hmti-basic-info-2nd-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.hmti-b-i-2-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hmti-b-i-2-row input {
    text-align: center;
}

.patientid input{
    width: 55px;
}

.age input{
    width: 35px;
}

.hmti-tests {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: 100%; 
    width: 44%;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 20px 0;
    border: 2px solid #ccc; 
    border-radius: 35px;
    gap: 15px;
}

.hmti-checklist {
    display: flex; 
    flex-direction: column;

    align-items: center; 
    height: 100%; 
    width: 100%;
    font-size: 16px;
    font-weight: 600;

    padding: 10px 0 20px 0;
    border: 2px solid #ccc; 
    border-radius: 35px;
    gap: 15px;
    margin-top: 30px;
}

.hmti-checklist-start {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}

.hmti-checklist-row {
    display: flex;
    flex-direction: row;
}

.hmti-checklist-title {
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.hmti-checklist img {
    margin-top: calc(-30px);
    margin-bottom: calc(-10px);
    height: 50px;
    width: 90%;
}