.mt-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 84%; 
    margin: auto; 
    margin-top: 2.5%;
    padding: 3vw;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 698px;
}

.mt-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto; 
    height: auto; 
    margin: auto;
    gap: 25px; 
}

.mt-ITR{
    color: #18694e;
    font-size: clamp(1.5rem, 2vw, 40px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.mt-label img {
    width: clamp(10rem, 15vw, 220px); /* Default size */
    height: auto; /* Maintain the aspect ratio */
}

.mt-row{
    display: flex;
    flex-direction: row;
    gap: clamp(1.4rem, 4vw, 45px);
}

.mt-column {
    display: flex;
    flex-direction: column;
    margin-top: clamp(2.5rem, 4vw, 20px);
    gap: clamp(1.4rem, 4vw, 30px);
    width: 30%;

}

.mt-new-c-p-r-button {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100%; 
    cursor: pointer;
    border: 2px solid #ccc; 
    padding: 10px 0 10px 0;
    border-radius: 50px;
    width: 100%;
    background-color: white;
}

.mt-new-c-p-r button:hover {
    background-color: #86868623;
}

.mt-new-c-p-r-text {
    color: #18694e;
    font-size: clamp(0rem, 2vw, 25px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
}

.mt-test-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 25px; 
    background-color: white;
}

.mt-test-results-button button:hover {
    cursor: pointer;
    background-color: #86868623;
}

.mt-test-results img {
    padding: 70px 0 30px 30px;
    width: 48%;
}

.mt-t-r-unfinished {
    padding-bottom: 55px;

    color: #a21b1b;
    font-size: clamp(0rem, 2vw, 28px);
    font-weight: 600;
}

.mt-t-r-finished {
    padding-bottom: 55px;

    color: #18694e;
    font-size: clamp(0rem, 2vw, 28px);
    font-weight: 600;
}

.mt-add-t-e-p-r{
    margin-top: clamp(2.5rem, 4vw, 20px);
    width: 70%;
}

.mt-add-t-e-p-r-container {
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 25px; 
    height: 99.5%;
}

.mt-add-t-e-p-r-text{
    padding-top: 30px;
    padding-bottom: 5px;

    color: #18694e;
    font-size: clamp(0rem, 2vw, 25px);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.mt-search{
    display: flex;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 60px;
    background: #edf5f3;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mt-search input{
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: clamp(0rem, 2vw, 20px);
    padding-left: 40px;
    padding-right: 18px;
    opacity: 50%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
       'Lucida Sans', Arial, sans-serif; 
}

.mt-search-button {
    padding-top: 7px;
    padding-right: 27px;
    opacity: 50%;
    cursor: pointer;
    padding-bottom: 5px;
}

.mt-search-button img{
    width: clamp(2rem, 4vw, 35px);
}

.mt-search-button button{
    cursor: pointer;

    border: none;
    background: none;
}

.mt-search-button button:hover{
    border-radius: 100px;
    background: #86868623;
}

.mt-smol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 105%;
    padding: 20px 0 0;
}

.mt-search{
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    height: clamp(3rem, 5vw, 40px);
    background: #edf5f3;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mt-patients{
    width: 90%;
    background: #edf5f3;
    border-radius: 40px;
    margin-top: clamp(2rem, 2.5vw, 35px);
    margin-bottom: 1.7%;
}

.mt-patients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 40px;
    background-color: #ffffff; 
    padding: 5px 5px 5px 5px; 
    max-width: 100%; 
    margin: auto;
}

.mt-p-h {
    width: 1000px;
    text-align: center;
    font-size: auto;
    font-size: clamp(0rem, 2vw, 20px);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    color: #18694e;
}

.mt-patients-table-container {
    max-height: 240px;
    overflow: auto;
    position: relative;
    background-color: #edf5f3;
    border-radius: 13px;
    padding-left: 6.5px;
}

.add-padding {
    padding-right: 5.5px;
}

.mt-patients-table-container::-webkit-scrollbar {
    width: 6px;
}

.mt-patients-table-container::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    border-radius: 5px;
}

.mt-patients-table-container::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
}

.mt-patients-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 8px 0px; 
    max-width: 100%; 
}