.pg-column{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%; 
    margin: auto; 
    margin-top: 3.4%; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

.pg-welcome-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    gap: 20px;
}

.pg-welcome-container img{
    width: 35%;
}

.pg-welcome-text{
    color: #18694e;
    font-size: 35px;
    font-weight: 600;
    opacity: 80%;
}

.pg-choice{
    display: flex;
    font-size: 20px;
    opacity: 25%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pg-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    width: 100%;
    height: 150px;
}

.pg-view-p-t-r-container,.pg-review-t-r-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 150px;
    gap: 5px;
    color: #18694e;
    font-size: 20px;
    font-weight: 600;
}

.pg-review-t-r-count{
    color: #67676788;
}

.pg-view-p-t-r-container img {
    width: 100px;
    padding-bottom: 10px;
}

.pg-review-t-r-container img {
    width: 100px;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 10px;
}

.pg-separator img {
    width: 100px;
    rotate: 90deg;
    opacity: 50%;
}