.submit-all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 805px;
    margin-top: 7vh;
    border-radius: 10px;
    background-color: #ffffffb5;
}

.submit-title {
    font-weight: 800;
    font-size: 64px;
    color: #fff;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2B9DC1;
}

.submit-1st-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 1200px;
    height: 125px;
    border-radius: 10px;
    margin-top: 20px;
}

.submit-1st-container-column-row {
    display: flex;
    gap: 10px;
}

.submit-1st-container-column-row input {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    background-color: #2B9DC1;
    color: #fff;
}

.submit-1st-container-column-row-column-1,
.submit-1st-container-column-row-column-2,
.submit-1st-container-column-row-column-3,
.submit-1st-container-column-row-column-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #004e65;
    gap: 5px;
}

.submit-1st-container-column-row-column-1 input{
    width: 275px;
    height: 30px;
}

.submit-1st-container-column-row-column-2 input {
    width: 150px;
    height: 30px;
}

.submit-1st-container-column-row-column-3 input {
    width: 315px;
    height: 30px;
}

.submit-1st-container-column-row-column-4 input {
    width: 315px;
    height: 30px;
}

.note {
    color: #2B9DC1;
    margin-bottom: -2px;
}

.submit-row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.sample-row{
    display: flex;
}

.sample-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 585px;
    height: 460px;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.sample-information img {
    width: 500px;
    object-fit: cover;
    margin-top: -2vh;
    margin-bottom: -8vh;
}

.sample-title {
    color: #2B9DC1;
    font-weight: 700;
    font-size: 32px;
}

.sample-rows {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sample-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.sample-row div {
    font-size: 14px;
    font-weight: 700;
    color:#004e65
}

.sample-row input {
    width: 250px;
    height: 25px;
    border: 4px solid #2B9DC1;
    border-radius: 20px;
    font-family: 'Poppins';
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #2B9DC1;
}

input:focus {
    outline: none;
}

.submit-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.purposeoftesting, .testselection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 585px;
    height: 85px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins';
    color: #2B9DC1;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.purposeoftesting img, .testselection img {
    width: 40px;
    padding-right: 50px;
}

.purposeoftesting:hover, .testselection:hover {
    transform: translateY(-5px);
}

.purpose-title, .test-title {
    padding-left: 50px;
    padding-right: 50px;
}

.submit-text-button {
    font-weight: 700;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 585px;
    height: 85px;
    background-color: #2B9DC1;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.submit-button button {
    border: none;
    transition: color 0.3s ease, 
        background 0.3s ease, 
}

.submit-button button:hover{
    color: #2B9DC1;
    background: #fff;
    border: 4px solid #2B9DC1
}